* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  width: 700px;
  margin: auto;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

li > p {
  position: absolute;
  top: 100px;
  right: 100px;
  text-align: right;
}

li > img {
  position: absolute;
  top: 20px;
  height: 150px;
  width: 150px;
}

li {
  border: 2px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  font-size: larger;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

li:nth-child(odd) {
  background-color: antiquewhite;
}

#books_container {
  background-color: hsl(180, 17%, 86%);
}

.mainHeader {
  width: 100%;
  display: block;
  height: 100px;
  background-color: rgb(77, 124, 124);
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  font-size: x-large;
}

/* .card {
  border: 3px solid rgb(5, 5, 9);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}

.card:nth-child(even) {
  background-color: aqua;
}

.card:nth-child(odd) {
  background-color: rgb(225, 225, 153);
} */
